@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

#root {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;

  --thin: 400;
  --thicc: 700;

  --darkBlue: #0B3954;
  --lightBlue: #BFD7EA;
}

.App {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 99vw;
  height: 100vh;
  gap: 3%;
}

.reactorNames {
  width: 40%;
  height: 25%;
  background-color: var(--darkBlue);
  border-radius: 15px;
  font-weight: var(--thicc);
  font-size: 2.5vh;
}

.logs {
  border-radius: 15px;
  width: 40%;
  height: 30%;
  background-color: var(--darkBlue);
  font-family: 'Roboto Mono', sans-serif;
  font-weight: var(--thin);
  font-size: 2vh;
}