@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

:root {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;

    --thin: 300;
    --normie: 400;
    --thicc: 700;
    --chonk: 900;

    --toxicGreen: #E0FF4F;
    --salmon: #FF6663;
    --darkBlue: #0B3954;
    --lightBlue: #BFD7EA;
    --white: #FFFFFE;

    --gradientMain: linear-gradient(#395160, #152128);
    --gradientColorful: llinear-gradient(90deg, #E0FF4F 0%, #FF6663 99.5%);

    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

.App {
    bottom: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 99vw;
    height: 100vh;
    background: var(--gradientMain);
    background-repeat: no-repeat;
}

/* Router Body Overflow CSS */
.reactorRouterBackground {
    overflow-y: scroll;
    background-color: transparent;
    width: 100vw;
    height: 99vh;
}

/* LOG CONSOLE STYLING */
/* .logs {
    border-radius: 15px;
    width: 40%;
    height: 30%;
    background-color: var(--darkBlue);
    font-family: 'Roboto Mono', sans-serif;
    font-weight: var(--thin);
    font-size: 2vh;
} */

.wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
}

/* Top Bar CSS */
.topBar {
    display: flex;
    flex-wrap: wrap;
    background: #4C616D;
    height: 15%;
    width: 85%;
    left: 15%;
    position: fixed;
    align-items: center;
    z-index: 10;
}

.name {
    display: flex;
    background: var(--darkBlue);
    align-items: center;
    width: 25%;
    height: 60%;
    border-radius: 15px;
    margin-left: 5%;
    overflow: hidden;
}

.nameText {
    background-color: transparent;
    color: #BFD7EA;
    font-weight: 700;
    font-size: 2.2vw;
    width: 100%;
    height: 70%;
    margin-left: 5%;
    border: none;
    outline: none;
}

/* Top Bar CSS */

/* Side Bar CSS */

.sideBar {
    position: fixed;
    height: 100vh;
    width: 15%;
    background: #657a8a;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    display: flex;
    color: #E0FF4F;
    background: #0B3954;
    width: 100%;
    height: 15%;
    font-size: 2.5vw;
    font-weight: 700;
    line-height: 40px;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    overflow: hidden;
}

.divider {
    margin-top: 30px;
    display: flex;
    background: linear-gradient(90deg, #E0FF4F 0%, #FF6663 99.5%);
    width: 90%;
    height: 2px;
    border-radius: 10px;
    align-self: center;
    justify-self: center;
}

/* Side Bar CSS */


.reactorTitle {

    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 75px;
    text-align: center;
    background: linear-gradient(96.23deg, #FF6663 0%, #E0FF4F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* DASHBOARD STYLING */

.dashboard {
    display: flex;
    flex-wrap: wrap;
    background: transparent;
    height: 85%;
    width: 85%;
    position: relative;
    top: 15%;
    left: 15%;
    z-index: 1;

}

/* Dashboard Data */
.dashboardData {
    width: 75%;
    height: 700px;
    background-color: #FF666380;
    display: flex;
    flex-direction: column;
}

.dashDataTop {
    width: 100%;
    height: 275px;
    margin-top: 2%;
    background-color: #E0FF4F80;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.dashTempDisplay {
    width: 30%;
    height: 250px;
    background-color: #0B3954;
    border-radius: 15px;
    margin-left: 8%;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    justify-content: space-evenly;
}

.dashTempLine {
    width: 5%;
    height: 90%;
    background-image: url('assets/Thermometer.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.dashTempDisplay1 {
    width: 80%;
    height: 100%;
    background-color: transparent;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.dashTempTitle {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 90px;
    background: #BFD7EA;
    border-radius: 7px;
    color: var(--darkBlue);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: var(--normie);
    font-size: 2vw;
}

.dashTempData {
    font-family: 'Roboto', sans-serif;
    font-weight: var(--chonk);
    font-size: 3.5vw;
    line-height: 75px;
    text-align: center;
    background: linear-gradient(#FF6663 0%, #E0FF4F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    word-break: break-word;
}

.avgTempChart {
    min-width: 50%;
    background-color: #262629;
    border-radius: 15px;
    margin: 2%;
}

.dashboardDataBottom {
    width: 100%;
    height: 325px;
    margin-top: 3%;
    background-color: #E0FF4F80;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.dashDataBottomLeft {
    width: 60%;
    height: 300px;
    background-color: var(--darkBlue);
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

.dashLogData {
    width: 90%;
    height: 200px;
    background-color: #3a3a3a;
}

.dashDataBottomRight {
    width: 40%;
    height: 300px;
    background-color: #0B395480;
    margin: 1%;
}

/* ReactorCard List Styling */
.reactorList {
    width: 25%;
    height: 100%;
    background-color: #5E6B74;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.reactorListTitleArea {
    width: 100%;
    min-height: 150px;
    background-color: transparent;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}

.reactorListTitle {
    margin-top: 40px;
    width: 100%;
    height: 75px;
    background-color: var(--darkBlue);
}

.reactorListTitleArea p {
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 75px;
    width: 100%;
    min-height: 50px;
    font-size: 3.5vw;
    font-weight: var(--thicc);
    text-align: center;
    background: linear-gradient(96.23deg, #FF6663 0%, #E0FF4F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

.reactorListDivider {
    position: relative;
    height: 2px;
    width: 90%;
    /* justify-self: center; */
    bottom: -25px;
    background: linear-gradient(90deg, #E0FF4F 0%, #FF6663 99.5%);
    border-radius: 15px;
}

.reactorCard {
    margin: 5%;
    width: 80%;
    min-height: 450px;
    border-radius: 15px;
    overflow: scroll;
    background-image: url('assets/JaggedVector.svg'), linear-gradient(#0B3954, #BFD7EA);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom center, 10%, 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reactorCardName {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 90%;
    height: 10%;
    background-color: #BFD7EA;
    border-radius: 3px;
    margin-top: 4%;
    color: transparent;
    font-size: 6vh;
    -webkit-text-stroke: #0B3954;
    -webkit-text-stroke-width: 0.5vh;

    box-shadow: #152128 0 4px 4px -1px;
}

.reactorCardData {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #ab151580;
}

.reactorDataLeft,
.reactorDataRight {
    text-align: center;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reactorCardShutdown {
    width: 40%;
    height: 10%;
    background-color: #E0FF4F80;
    text-align: center;
}