:root {
  background: linear-gradient(#395160, #152128);
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;

  --thin: 400;
  --thicc: 700;

  --darkBlue: #0B3954;
  --lightBlue: #BFD7EA;

  margin: 0;
  padding: 0;

}

html, body {
  margin: 0;
  padding: 0;
}